<h1>MainPages#index</h1>
<p>Find me in app/views/main_pages/index.html.erb</p>

<h1>Employee</h1>

<%= bootstrap_form_for(@employee) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.submit "Log In" %>
<% end %>
