<main class="form-signin">
<div class="container-fluid center login">
    <i class="fa-solid fa-user fa-9x"></i>
    <h1>Sign in</h1> 
</div>
  <h3 class="h3 mb-3 text-center">Porfavor ingresa tus credenciales.</h3>
  <%= bootstrap_form_with(url: admins_path) do |f| %>
  <div class="form-floating">
    <%= f.text_field :username, class: "form-control", placeholder: "Nombre de usuario", hide_label: true %>
    <%= f.password_field :password, class: "form-control", placeholder: "Contraseña", hide_label: true %>
    <%= f.submit "Log In", class: "w-100 btn btn-lg btn-success" %>
  </div>
  <% end %>
</main>
