
<nav class="navbar bg-body-tertiary border-bottom border-success border-4">
  <div class="container-fluid d-flex pr-5 pl-5">
    <a class="navbar-brand" href="#">
      <i class="m-2 fa-solid fa-cubes-stacked fa-xl"></i>
      FooCorp
    </a>
    <% if Current.admin %>
      <%= Current.admin.username %>
      <%= link_to "Log out", logout_path, class: "btn btn-success" %>
    <% end %>
    <% if @home %>
      <%= link_to "Administrador", new_admin_path, class: "btn btn-success" %>
    <% end %>
  </div>
</nav>

